.nav-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    top: var(--edge-spacing-sm);
    z-index: 100;
}

#navbar, #socialbar {
    padding: var(--edge-spacing-sm);
    margin-bottom: var(--edge-spacing-med);
    text-align: center;
    
    background-image: url("../img/scrolls/scroll-top.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    border: var(--border-size) solid var(--bordercolor);
    box-shadow: 0 var(--edge-spacing-med) var(--edge-spacing-sm) calc(var(--edge-spacing-sm) * -1) var(--textcolor1);
}

#navbar {
    width: fit-content;
    margin:var(--edge-spacing-med);
    flex-wrap: nowrap;
    z-index: 100;
    gap: 0;
}

#socialbar {
    width: fit-content;
    margin:var(--edge-spacing-med);
    flex-wrap: nowrap;
    z-index: 100;
    gap: 0;
}
#socialbar>li {
    padding: 0;
}
#socialbar>li>a>img.icon {
    width: 1.1em;
    transform: scale(2);
}
