.scroll {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    width: fit-content;
    min-width: 16em;
    max-width: 100%;
    /* min-height: 21.5em; */
    
    background-image: none;
    /* background-image: url("../img/scrolls/scroll-bottom.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}
.scroll>* {
    padding: var(--edge-spacing);
}

.scroll>:nth-last-child(1 of h2) {
    margin-bottom: 0;
}

.scroll>p {
    margin-bottom: var(--edge-spacing);
}

.scroll>ul {
    gap: 0;
}
.scroll>ul>li {
    width: 2em;
}

a.flag:hover {
    transform: none;
}
img.flag {
    margin: 0;
    margin-right:-2.1vh;
    padding: 0;
    border: 0;
    height: 130px;
}

h1, h2, #navbar, #socialbar {
    padding: 0.2em;
    margin-bottom: var(--edge-spacing);
    text-align: center;
    
    background-image: url("../img/scrolls/scroll-top.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    border: var(--border-size) solid black;
    box-shadow: 0 0.4em 0.2em -0.2em var(--textcolor1);
}
li>h2 {
    margin-bottom: 0;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;

    background-image: url("../img/scrolls/scroll-bottom.webp");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

figure>.flexbreak {
    height: 100%;
}

figure>*:not(img) {
    padding: var(--edge-spacing);
}

figure.wide {
    padding-bottom: 3.5vw;
}

figure>img {
    width: calc(90% - calc(2 * var(--edge-spacing)));
    margin: var(--edge-spacing) auto;
    border: var(--border-size) solid black;
}
