/* basic component styling rules like color, border, backgrounds, decor, etc. */

::selection {
  color: var(--accentcolor1);
  background-color: var(--textcolor1);
}

body {
  color: var(--textcolor0);
  background-color: var(--bgcolor0);
}

section {
  transition: background-color ease-in-out 0.3s;
}
section:has(:target) {
  background-color: var(--bgcolor1);
}

code {
  font-family: Consolas, monospace;
}

h1, h2, h2>a {
  font-weight: bold;
}

a {
  color: var(--textcolor0);
}
a:hover {
  color: var(--testcolor1);
}

ul {
  list-style: none;
}

/* Image elements */
.svg {
  /* Workaround because setting the fill directly won't work :/ */
  filter: invert(28%) sepia(19%) saturate(285%) hue-rotate(22deg) brightness(92%) contrast(91%);
  border-radius: 100%;
}

br {
  user-select: none;
  -moz-user-select: none;
}

hr {
  border:var(--border-size) solid var(--bgcolor1);
}
